{% extends "home.twig" %}

{% block admin %}

	<form action="/admin/home?action=deletePost" method="post">
		<input type="hidden" name="post_id" value="{{ post.id }}"/>
		<input class="admin-btn mp-1 text-dark" type="submit" value="Supprimer">
	</form>

{% endblock %}