<header>
	
	<div id="div_header_img" class="flex-center">
		<img src="../assets/images/header.jpg" alt="" width="100%">
		<h1 class="text-light">Mon super blog !</h1>
	</div>
	<nav id="navbar">
		<ul>
			<li><a class="active" href="home?action=showListPosts">Accueil</a></li>
			<li><a href="">List des billets</a></li>
			{% if (session.login == "admin") %}
				<li><a href="createpost?action=createPost">Ajouter un billets</a></li>
			{% endif %}
		</ul>
		<ul>
			<li><a href="">Inscription</a></li>
			<li><a href="connexion?action=formConnexion">Connexion</a></li>
		</ul>
	</nav>
	<div id="div_header_hidden" class="hide"></div>
	
</header>