<header>
	
	<div id="div_header_img" class="flex-center">
		<img src="../assets/images/header.jpg" alt="" width="100%">
		<h1 class="text-light">Mon super blog !</h1>
	</div>
	<nav id="navbar">
		<ul>
			<li><a {% if active.home %} class="active" {% endif %} href="home?action=showListPosts">Accueil</a></li>
			<li><a {% if active.posts %} class="active" {% endif %} href="">List des billets</a></li>
			{% if (session.login == "admin") %}
				<li><a {% if active.createPost %} class="active" {% endif %} href="createpost?action=createPost">Ajouter un billets</a></li>
			{% endif %}
		</ul>
		<ul>
			<li><a {% if active.inscription %} class="active" {% endif %} href="">Inscription</a></li>
			<li><a {% if active.connexion %} class="active" {% endif %} href="connexion?action=formConnexion">Connexion</a></li>
		</ul>
	</nav>
	<div id="div_header_hidden" class="hide"></div>
	
</header>